<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar bg-danger">
	<div class="app-sidebar__user">
		<img class="app-sidebar__user-avatar">
		<div>
			<!--th:text="${nombreUsuario}" th:text="${nombreRol}" -->
			<p class="app-sidebar__user-name">EBICS SA - CONECEL</p>
			<p class="app-sidebar__user-designation">ADMINISTRADOR</p>
		</div>
	</div>
	<ul class="app-menu">
		<li><a th:class="'app-menu__item '+${activeTechnicalGroups}" th:href="@{/technicalGroups}"><i
					class="app-menu__icon fa fa-users"></i><span class="app-menu__label">Grupos Tecnicos</span></a></li>
		<li><a th:class="'app-menu__item '+${activoMateriales}" th:href="@{/materiales}"><i
					class="app-menu__icon fa fa-gavel"></i><span class="app-menu__label">Materiales</span></a></li>
		<li><a th:class="'app-menu__item '+${activoInventarios}" th:href="@{/inventarios}"><i
					class="app-menu__icon fa fa-archive"></i><span class="app-menu__label">Inventario</span></a></li>
		<li><a th:class="'app-menu__item '+${activoDevengaciones}" th:href="@{/devengaciones}"><i
					class="app-menu__icon fa fa-line-chart"></i><span class="app-menu__label">Devengaciones</span></a>
		</li>

		<li class="treeview"><a th:class="'app-menu__item '+${activoUsuarios}" href="" data-toggle="treeview"><i
					class="app-menu__icon fa fa-users"></i><span class="app-menu__label">Usuarios</span><i
					class="treeview-indicator fa fa-angle-right"></i></a>
			<ul class="treeview-menu">
				<li><a class="treeview-item" th:href="@{/usuarios}"><i class="icon fa fa-circle-o"></i> Usuarios</a>
				</li>
				<li><a class="treeview-item" th:href="@{/roles}"><i class="icon fa fa-circle-o"></i> Roles</a></li>
			</ul>
		</li>
	</ul>
</aside>